body {
    background-image: url(asset/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
}

h1 {
    margin-top: 250px;
    text-align: center;
}

#musicSelector {
    width: 500px;
    display: inline-block;
}

#midComponent{
    width: 100%;
    text-align: center;
}

#inputWrapper {
    margin: 10px;
    margin-bottom: 0px;
    width: 500px;
    height: 35px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 2px;
}

#inputWrapper input {
    padding: 0;
    margin-left: 1%;
    margin-right: 1%;
    border-width: 0;
    width: 96%;
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: transparent;
}

#searchBtn {
    width: 12%;
    height: 30px;
    margin: 10px;
    display: inline-block;
    padding: 0px;
}

#upload {
    margin: 10px;
    display: inline-block;
    width: 500px;
    text-align: left;
}
#upload div {
    margin-bottom: 10px;
}

a:link, a:visited, a:hover {
    color: black;
    text-decoration: none;
    cursor: default;
}

#searchHref {
    width: 100%;
    height: 100%;
    display: inline-block;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#loading {
    top: 0px;
    left: 0px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    height: 100vh;
    width: 100%;
    background: url(asset/loading2.gif);
    background-size: cover;
    background-color: none;
    opacity: 50%;
    cursor: wait;
    padding: 0;
    margin: 0;
    display: none;
}