body {
    background-image: url(asset/background3.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
    background-position: center;
}

h1 {
    padding-top: 300px;
    text-align: center;
}

#musicSelector {
    width: 600px;
    display: inline-block;
}

#midComponent{
    width: 100%;
    text-align: center;
}

#inputWrapper {
    margin: 10px;
    margin-bottom: 0px;
    width: 600px;
    height: 50px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 2px;
}

#inputWrapper input {
    padding: 0;
    margin-left: 1%;
    margin-right: 1%;
    border-width: 0;
    width: 96%;
    font-size: 20px;
    margin-top: 14px;
    margin-bottom: 16px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: transparent;
}

#searchBtn {
    width: 113px;
    height: 62px;
    margin: 10px;
    display: inline-block;
    padding: 0px;
    background-image: url('asset/searchBtn.png');
    background-size: cover;
    background-position: center;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}

#upload {
    margin: 10px;
    display: inline-block;
    width: 600px;
    text-align: left;
}
#upload div {
    margin-bottom: 10px;
}

a:link, a:visited, a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#searchHref {
    width: 100%;
    height: 100%;
    display: inline-block;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#loading {
    top: 0px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-image: url(asset/loading2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: center;
    opacity: 50%;
    cursor: wait;
    padding: 0;
    margin: 0;
    display: none;
}

#up_file {
    width: 530px;
}

#up_submit {
    float: right;
}