body {
    background-image: url(asset/background3.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
    background-position: center;
}

#music_wrapper {
    margin: 10px;
    padding: 1%;
    text-align: center;
}
.main_music_wrapper {
    display: inline-block;
}
#music_name, #music_name2 {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#music_player1, #music_player2 {
    margin-left: 10px;
    margin-right: 10px;
}

.select_title {
    font-weight: bold;
    font-size: 18px;
}

#result_box {
    width:100%;
    height: 100vh;
}
#listen_component_box {
    width: 1020px;
    height: 100px;
    margin: 0 auto;
    padding: 0px;
}
#sing_component_box {
    width: 48%;
    height: 100vh;
    margin: 0px;
    padding: 1%;
    float: right;
}
.header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.component_box div {
    margin: 10px;
}
.component {
    text-align: center;
    display: inline-block;
}
.title {
    width: 300px;
}
#main {
    cursor: pointer;
    margin-top: 30px;
    margin-left: 30px;
}