<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
        <title>MR</title>
    </head>
    <body>
        <h1>Music Recommender</h1>
        <div>{{result}}</div>
        <div class="select">
            <input type="text"> <button>검색</button>
            <ul id="music_list">
                <li><span>sdf</span>sss</li>
                <li>123</li>
                <li>456</li>
                <li>789</li>
                <li>122</li>
                <li>444</li>
            </ul>
        </div>

        <script src="{{url_for('static', filename='index.js')}}"></script>
    </body>
</html>