<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
        <title>MR</title>
    </head>
    <body>
        <h1>Music Recommender</h1>
        <div>{{result}}</div>
        <div id="inputWrapper">
            <input type="text" id="searchInput">
            <button id="dropdownBtn" onclick="selectVisible()">▽</button>
        </div>
        <div id="upload">
            <form action = "http://localhost:5000/upload" method = "POST" enctype = "multipart/form-data">
                <input type = "file" name = "file" />
                <input type = "submit" />
            </form>
        </div>
        <button id="searchBtn" onclick="searchBtn()">노래 추천</button>
        <select size=10 id="musicSelector" style="visibility: hidden; display: none;"></select>
        <div id="resultBox"></div>
        <script src="{{url_for('static', filename='index.js')}}"></script>
        <script type="text/javascript">
            music_list = "{{music_list_json}}"
            music_list = music_list.replaceAll('&#39;', '').replaceAll('.wav', '').replaceAll('[', '').replaceAll(']', '').split(',')
            music_list_length = music_list.length
            musicSelector = document.getElementById('musicSelector')
            for(var i = 0; i < music_list_length; i++) {
                var temp_option = document.createElement('option')
                temp_option.innerHTML = music_list[i].replace('\"', '');
                musicSelector.appendChild(temp_option);

                (function() {
                    var music_title = music_list[i];
                    temp_option.addEventListener('click', function() {
                        searchInput.value = music_title;
                        console.log('ssss');
                    });
                }());
            }
        </script>

        {%with messages = get_flashed_messages()%}
        {%if messages %}
        <script type="text/javascript">
            alert("{{messages[-1]}}");
        </script>
        {%endif%}
        {%endwith%}
    </body>
</html>